<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<properties>
		<property name="basepath">./logs</property>
	</properties>
	<Appenders>
		<RollingFile name="file" filename="${basepath}/prints.log"
			filePattern="${basepath}/prints-%d{yyyy-MM-dd}.log">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
			<SizeBasedTriggeringpolicy size="400" />
		</RollingFile>

		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		
		<Root level="trace">
			<AppenderRef ref="file" />
		</Root>
	</Loggers>
</Configuration>